.menu {
    display: block;
    position: relative;
    z-index: 999;

    li {
        &:hover > ul {
            zoom: 1;
            opacity: 1;
            filter: alpha(opacity=100);
            visibility: visible;
            display: block\9;
            text-shadow: none;
            filter: none;
            top: 100%;
            top: 81%\9;
        }

        ul li:hover > ul { top: 0; }
    }

    ul {
        float: right;
        margin-right: 10px;

        &:after {
            content: "";
            clear: both;
            display: block;
        }

        a { float: left; }

        li {
            float: left;
            -webkit-transition: all 100ms ease-in-out;
            -moz-transition: all 100ms ease-in-out;
            -o-transition: all 100ms ease-in-out;
            -ms-transition: all 100ms ease-in-out;
            transition: all 100ms ease-in-out;

            a {
                display: block;
                padding: 23px;
                color: #fff;
                text-decoration: none;
                font-size: 14px;
                font-weight: 700;
                font-family: "Lato", sans-serif;
            }

            ul li .arrow {
                position: relative;

                &:after {
                    content: "";
                    width: 0;
                    height: 0;
                    top: 50%;
                    position: absolute;
                    border-top: 3px solid transparent;
                    border-bottom: 3px solid transparent;
                    border-left: 3px solid #fff;
                }
            }
        }

        ul {
            zoom: 1;
            opacity: 0;
            filter: alpha(opacity=0);
            visibility: hidden;
            line-height: 23px;
            display: none\9; /* IE8 Hack */
            -webkit-transition: all 200ms ease-in-out;
            -moz-transition: all 200ms ease-in-out;
            -o-transition: all 200ms ease-in-out;
            -ms-transition: all 200ms ease-in-out;
            transition: all 200ms ease-in-out;
            top: 80%;

            background: rgba(0, 0, 0, 0);
            position: absolute;
            width: 170px;
            padding-top: 10px;

            &:before {
                content: "";
                border-style: solid;
                border-width: 0 9px 9px 9px;
                height: 0px;
                position: absolute;
                left: 15px;
                top: 5px;
                width: 0px;
                -webkit-transform: rotate(360deg);
            }

            a { float: none; }

            li {
                float: none;
                position: relative;
                transition: none;
                -transition: none;
                -o-transition: none;
                -ms-transition: none;
                transition: none;
                padding: 3px;

                &:first-child {
                    border-radius: 4px 4px 0 0;
                    -moz-border-radius: 4px 4px 0 0;
                    -webkit-border-radius: 4px 4px 0 0;
                }

                &:last-child {
                    border-radius: 0 0 4px 4px;
                    -moz-border-radius: 0 0 4px 4px;
                    -webkit-border-radius: 0 0 4px 4px;
                }

                a {
                    font-size: 13px;
                    padding: 11px 18px;
                    color: #fff;
                    font-weight: normal;
                    border-radius: 2px;
                    -moz-border-radius: 2px;
                    -webkit-border-radius: 2px;

                    &:active, &:hover {
                        color: #FFF;
                        text-shadow: none;
                        filter: none;
                    }
                }
            }

            ul {
                top: 0;
                padding-left: 5px;
                padding-left: 0px\9;
                padding-top: 1px;
                position: absolute;
                left: 100%;

                &:before{
                    content: "";
                    border: none;
                }
            }
        }
    }

    .arrow {
        position: relative;

        &:after {
            content: "";
            position: absolute;
            width: 0px;
            top: 50%;
            right: 12px;
            margin-top: -2px;
            height: 0px;
            border-style: solid;
            border-width: 3px 3px 0 3px;
            border-color: #FFF transparent transparent transparent;
        }
    }
}


/* Responsive Menu
===================================== */
a.menu-trigger {
    display: none;
    position: absolute;
    font-size: 21px;
    top: 9px;
    left: 9px;
    color: #e9f0f4;
}

.search {
    background: #2f4357;
    color: #fff;
    display: none;

    &:after {
        content: "\f002";
        font-family: "FontAwesome";
        color: #E9F0F4;
        position: absolute;
        right: 15px;
        top: 12px;
        font-size: 19px;
    }
}

input.searchform {
    background: none;
    border: none;
    color: #fff;
    font-size: 15px;
    line-height: 23px;
    padding: 10px 0 11px 13px;
    text-indent: 0;
    margin: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-appearance: textfield;
    outline: none;
    width: 100%;
    font-weight: 400;

    &::-webkit-input-placeholder { color: #fff; opacity: 1; }
    &::-moz-placeholder { color: #fff; opacity: 1; }
    &:-ms-input-placeholder {
        color: #fff;
        zoom: 1;
        opacity: 1;
        filter: alpha(opacity=100);
    }
}

#jPanelMenu-menu {
    background: #2c3e50;

    li {
        a {
            font-family: "Lato", sans-serif;
            font-weight: 700;
            font-size: 14px;
            color: #E9F0F4;
            padding: 13px;
            display: block;
            border-bottom: 1px solid rgba(0, 0, 0, 0.08);
        }

        ul li {
            &:last-child { border-bottom: none; }

            a { padding: 13px 30px; }

            ul li a { padding: 13px 45px; }
        }
    }
}
